@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="col-md-6">
        <h2>Player 1</h2>
        <p>
            @Model.PlayerOneHand.FirstCard.currentSuit
            @Model.PlayerOneHand.FirstCard.currentValue
        </p>
    </div>
    <div class="col-md-6">
        <h2>Player 2</h2>
        <p>
            @Model.PlayerTwoHand.FirstCard.currentSuit
            @Model.PlayerTwoHand.FirstCard.currentValue
        </p>
    </div>
</div>