@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="col-md-6">
        <h2>Player 1</h2>
        <p>
            @foreach (var item in Model.PlayerOneHand.Cards)
            {
                <div>@item.currentValue</div>
            }

            <button onclick="drawCard">drawCard</button>
        </p>
    </div>
    <div class="col-md-6">
        <h2>Player 2</h2>
        <p>
            @foreach (var item in Model.PlayerTwoHand.Cards)
            {
                <div>@item.currentValue</div>
            }
        </p>
    </div>
</div>